h1, h2 {
    Margin: 0;
}

:root {
    font-family: Andika, Verdana, Geneva, Tahoma, sans-serif;
    --color-blue: #0457AC;
    --color-lightblue: #308FAC;
    --color-green: #37BD79;
    --color-lime: #A7E237;
    --color-yellow: #F4E604;
    --color-white: #fff;
    --color-black: #000;
}

body {
    margin: auto;
    padding: 0;
    /* max-width: 1440px; */
    height: 100vh;
}

main {}

nav, 
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

.nav-logo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

header {
    display: flex;
    background: var(--color-green);
    color: var(--color-white);
    padding: 15px;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: absolute;
    background: var(--color-green);
    right: 0px;
    top: 87px;
    z-index: 1;
}

nav a {
    display: block;
    color: var(--color-white);
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    color: #A7E237;
    /* border: 0.5px solid var(--color-lime); */
    /* box-shadow: 1px 0px 15px white; */
}

.hamburger-icon {
    display: flex;
    font-size: 1.3rem;
    padding: 1fr 1fr;
}

footer {
    background: var(--color-green);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    flex-flow: wrap;
}

.footer-h3 {
    padding-left: 20px;
    color: var(--color-white);
    text-align: left;
}

.footer p   {
    margin: 0px;
    padding-left: 20px;
    color: var(--color-white);
} 

.footer a {
    height: fit-content;
    margin: auto 0px;
}

.logo-img {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-img > img {
    height: 100%;
}

.hours-h3 {
    font-size: x-large;
}

.index-main {
    background: url("/images/national-cancer-institute-ct10qdGv1hQ-unsplash\ \(1\)-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.event-main {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.7)), url("/images/andrew-ruiz-348421-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 50px;
    justify-content: center;
}

.involve-main {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("/images/caroline-hernandez-yl1wEVqEY8k-unsplash-min\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    padding-bottom: 40px;
}

/*Home page*/
.home-text {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
    text-align: center;
}

.home-h1 {
    color: var(--color-yellow);
    margin: 0;
    padding-top: 20px;
}

.home-h2 {
    color: var(--color-lime);
    font-weight: 100;
    padding-bottom: 20px;
}

/* Buttons */ 

.home-buttons {
    color: var(--color-white);
    text-align: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 20px;
    margin-top: 170px;
}

.home-buttons a:hover {
    border: 0.5px solid black;
    box-shadow: 1px 0px 15px white;
    
}

.cta {
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: var(--color-yellow);
    border-radius: 15px;
    margin: 10px auto;
    height: 180px;
    width: 180px;
}

.home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.explore-button {
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), center/80% url("/images/stem-t4l-l862hX_FET8-unsplash\ 2-min.jpg");
    background-repeat: none;
    background-size: cover;
}

.exhibition-button {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), center/80% url("/images/scientific-2040795_1280-min.jpg");
    background-repeat: none;
    background-size: cover;
}

.events-button {
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), center/80% url("/images/andrew-ruiz-348421-min.jpg");
    background-repeat: none;
    background-size: cover;
}   

.visit-button {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)), center/80% url("/images/syntax-error-xSQZq6tC8AQ-unsplash\ 1-min\ \(1\).jpg");
    background-repeat: none;
    background-size: cover;
}

.involve-button {
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), center/80% url("/images/caroline-hernandez-yl1wEVqEY8k-unsplash-min\ \(1\).jpg");
    background-repeat: none;
    background-size: cover;
}

/* Explore */

.explore-content {
    width: 100%
}

.explore-content img {
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.wrap-content h2 {
    color: var(--color-green);
    text-align: center;
}

.wrap-content-explore img {
    width: 211px;
    height: 193px;
    object-fit: cover;
}

.wrap-content-explore p {
    max-width: 211px;
}

.explore-h1 {
    position: relative;
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), center/80%;
    text-align: center;
    color: var(--color-white);
    margin-top: -85px;
    margin-bottom: 50px;
    font-size: 3rem;
}

.explore-h2 {
    color: var(--color-green);
}

/* Exhibition */

.exhibition-content {
    width: 100%
}

.exhibition-content img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.wrap-content-exhibition h2 {
    color: var(--color-green);
    text-align: center;
}

.wrap-content-exhibition img {
    width: 211px;
    height: 193px;
    object-fit: cover;
}

.wrap-content-exhibition p {
    max-width: 211px;
}

.exhibition-h1 {
    position: relative;
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), center/80%;
    text-align: center;
    color: var(--color-white);
    margin-top: -85px;
    margin-bottom: 50px;
    font-size: 3rem;
}

.exhibition-h2 {
    /* color: var(--color-black); */
}

/* Special Events */

.event-text {
    text-align: center;
    color: var(--color-white);
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
}

.event-h1 {
    color: var(--color-white);
    font-size: 2rem;
}

.event-h2 {
    font-weight: 100;
    color: var(--color-yellow);
}

.event-h3 {
    color: var(--color-lime);
}

.night-h3 {
    color: var(--color-green);
}

.energetica-h3 {
    color: var(--color-lightblue);
}

/* Visit Us */

.visit-content {
    width: 100%
}

.visit-content img {
    width: 100%;
    height: 193px;
    object-fit: cover;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.wrap-content-visit h2 {
    color: var(--color-green);
    text-align: center;
}

.wrap-content-visit img {
    width: 211px;
    height: 193px;
    object-fit: cover;
}

.wrap-content-visit p {
    max-width: 211px;
}

.visit-h1 {
    position: relative;
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), center/80%;
    text-align: center;
    color: var(--color-white);
    margin-top: -85px;
    margin-bottom: 50px;
    font-size: 3rem;
}

/*Get Involved*/

.involve-text {
    text-align: center;
    color: var(--color-white);
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
}

.involve-h1 {
    color: var(--color-white);
    font-size: 2rem;
}

.involve-h2 {
    font-weight: 100;
    color: var(--color-yellow);
}

.involve-h3 {
    color: var(--color-lime);
}

.intern-h3 {
    color: var(--color-green);
}

/* Contact Form */

.contact-container {
    border-radius: 5px;
    max-width: 50%;
    justify-content: center;
    margin: auto;
  }

.contact p {
    text-align: center;
  }
  
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--color-white);
  }
  
.contact-form-button {
    display: inline-block;
    background: var(--color-blue);
    text-align: center;
    font-weight: bolder;
    font-size: 120%;
    line-height: 60px;
    border: none;
    padding: 0;
    color: var(--color-white);
    border-radius: 15px;
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
  
.contact_form-button:hover,
.contact_formbutton:active {
    background: var(--color-blue);
    transition: 0.5s;
}
  
  input[type="text"],
  select,
  textarea {
    margin: 0 auto;
    width: 100%;
    height: 36px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  input[type="send"] {
    background-color: var(--color-blue);
    color: var(--color-white);
    text-align: center;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 6rem;
    align-self: center;
  }
  
  input[type="send"]:hover {
    background-color: var(--color-lightblue);
  }

/* Media Queries */

@media (max-width: 1040px) {
    footer {
        justify-content: unset;
        flex-wrap: wrap;
    }

    .home-buttons {
        flex-direction: column;
        margin-top: 0px;
    }
}

@media (max-width: 605px) {
    footer {
        flex-direction: column;
    }
}

@media (min-width: 810px)   {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
    
}

@media (min-width: 600px) {
    
    .explore-main {
        height: 450px;
    }

    .explore-content-wrapper {
        flex-direction: row;
    }
    
    .explore-content {
        flex-direction: row;
    }

    .exhibition-content-wrapper {
        flex-direction: row;
    }

    .exhibition-content {
        flex-direction: row;
    }

    .exhibition-main {
        height: 500px;
    }

    .exhibition-content-container {
        min-height: 0;
        max-height: 500px;
    }
}